name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          record: true
          parallel: true

        env:
          CYPRESS_RECORD_KEY: 010431ef-5d1f-4418-acba-3a9385ceb40c
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
